/.clean-master-repo/
/.flag-media-tree-sync-time
/.media-tree-clean-patch-repo/
/.state_env_file
/.user_env_file
/media_build/
/ubuntu-*/
/*.deb
/linux-media-tree-*.tgz

/0001-Linuxtv.org-media-tree-sync-*.patch

/linux_*.orig.tar.gz
/linux_*.diff.gz
/linux_*.dsc
/linux_*.changes
/linux-*/

/linux_4.*.0-*mediatree+hauppauge_*.tar.gz

/.vpackage_tmp/*

/linux-headers-mediatree_*
#_source.changes
*_source.build
*_source.buildinfo
/linux-image-mediatree_*
